<a href="https://github.com/dokipen/crap.io"><img style="position: absolute; top: 48px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

<div class="col-sm-offset-1 col-sm-10">
<p>
Posting your thoughts shouldn't always be eternal. Crap.io is a limited edition, ephemeral blog. On Crap.io, we call a post a crap. Think of it as the automated toilet of the internet, with a bouncer at the stall door. Here are the rules.</p>

<ul>
  <li>Your crap can be viewed by each person who clicks the link exactly once.</li>
  <li>Each person can only view your crap as long as you specify.</li>
  <li>The crap will auto-flush after a specified amount of time.</li>
  <li>Only a limited number of people are allowed to view your crap.</li>
</ul>

<p>
Just create a crap on the main page, and then share the link.
</p>

<p>
Created by <a href="https://twitter.com/doki_pen">@doki_pen</a> and <a href="https://twitter.com/whichlight">@whichlight</a> (AKA Corsaro and Virdee &amp; Associates)
<img src="/images/made_in_berlin.png">
</p>
</div>
