<!DOCTYPE html>
<html>
  <head>
    <title>crap.io</title>
    <link rel="stylesheet" href="stylesheets/style.css"/>
  </head>
  <body>
    <h1>crap.io</h1>
    <p>Sorry, the #{hash} crap has already been flushed.</p>
    </body>
</html>
