<!DOCTYPE html>
<html>
  <head>
    <title>crap.io</title>
    <link rel="stylesheet" href="stylesheets/style.css"/>
  </head>
  <body>
    <h1>crap.io</h1>
    <p>Welcome, take a crap on the internet!</p>
    <form name="crap" action="/crap" method="post">
      <ul>
        <li>
          <textarea name="blob" rows="40" cols="80"></textarea>
        </li>
        <li><input name="views" value="10"></li>
        <li><input name="submit" value="crap!"></li>
      </ul>
    </form>
  </body>
</html>
