<!DOCTYPE html>
<html>
  <head>
    <title>crap.io</title>
    <link rel="stylesheet" href="stylesheets/style.css"/>
  </head>
  <body>
    <h1>crap.io</h1>
    <p>Smell the roses!</p>
    <p>http://crap.io/image/#{{id}}.png</p>
  </body>
</html>
